<div class="row">

  <form [formGroup]="agencyFormUpdate" (ngSubmit)="onSubmit()" class="col-12 col-lg-5 g-4">
    <div class="col-12">
      <alert type="success">
        <strong>NOTA:</strong> Mueva el marcador en el mapa si desea actualizar la ubicación de la agencia.
      </alert>
    </div>
    <div class="col-12 mb-4">
      <label for="inputAgencia" class="form-label">Nombre de Agencia</label>
      <input type="text" class="form-control" id="inputAgencia" formControlName="agencia" />
    </div>
    <div class="col-12 mb-4">
      <label for="inputDireccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="inputDireccion" formControlName="direccion"/>
    </div>
    <div class="col-12 mb-4">
      <label for="inputDistrito" class="form-label">Distrito</label>
      <input
        type="text"
        class="form-control"
        id="inputDistrito"
        placeholder="Ejem: Villa María"
        formControlName="distrito"
      />
    </div>
    <div class="col-12 mb-4">
      <label for="inputLatitud" class="form-label">Latitud</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="lat"/>
    </div>
    <div class="col-12 mb-5">
      <label for="inputLongitud" class="form-label">Longitud</label>
      <input type="text" class="form-control" id="inputLongitud" formControlName="lon" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </form>

  <div class="col-12 col-lg">
    <mg-maps [list]="agency" [draggable]="true" (marker)="updateLocationAgency($event)"></mg-maps>
  </div>
</div>

