<form class="row g-3">
    <div class="col-12 col-md-6">
        <label for="inputAgencia" class="form-label">Nombre de Agencia</label>
        <input type="text" class="form-control" id="inputAgencia">
    </div>
    <div class="col-12 col-md-6">
        <label for="inputDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion">
    </div>
    <div class="col-12  col-md-6">
        <label for="inputDistrito" class="form-label">Distrito</label>
        <input type="text" class="form-control" id="inputDistrito" placeholder="Ejem: Villa María">
    </div>
    <div class="col-12  col-md-6">
        <label for="inputLatitud" class="form-label">Latitud</label>
        <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="col-12 col-md-6">
        <label for="inputLongitud" class="form-label">Longitud</label>
        <input type="text" class="form-control" id="inputLongitud">
    </div>
    <!-- <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div> -->
    <!-- <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>